<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="./Logs/nlog-internal.log" >

  <!--[擴充]-->
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="NLog.Targets.Slack" />
  </extensions>

  <!--[變數] 文字樣板 -->
  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
  <variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>
  <variable name="LayoutTrace" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>

  <!--[變數] 檔案位置 -->
  <variable name="LogTxtLocation" value="./Logs/Log_${shortdate}.log"/>
  <variable name="LogTxtLocationFatal" value="./Logs/FatalLog_${shortdate}.log"/>
  <variable name="LogTxtLocationTrace" value="./Logs/TraceLog_${shortdate}.log"/>

  <targets  async="true">
    <!--[設定] 寫入目標 - ElasticSearch-->
    <target name="ElasticSearch"
           xsi:type="ElasticSearch"
           uri="${configsetting:name=ConnectionStrings.ElasticUrl}"
           index="beepbar-${date:format=yyyy.MM.dd}"
           documentType="logevent"
           includeAllProperties="true"
           requireAuth="true"
           username="BBarServer"
           password="bbar85027640log">
      <field name="Time" layout="${date}" />
      <field name="appdomain" layout="${appdomain}" />
      <field name="request-host" layout="${aspnet-request-host}" />
      <field name="request-ip" layout="${aspnet-request-ip}" />
      <field name="request-method" layout="${aspnet-request-method}" />
      <field name="request-url" layout="${aspnet-request-url}" />
      <field name="request-body" layout="${aspnet-request-posted-body}" />
      <field name="request-querystring" layout="${aspnet-request-querystring}" />
      <field name="level" layout="${level:uppercase=true}" />
      <field name="logger" layout=" ${logger}" />
      <field name="message" layout=" ${message}" />
      <field name="stacktrace" layout=" ${stacktrace}" />
      <field name="exception" layout=" ${exception:format=tostring}" />
    </target>
    <!--[設定] 寫入目標 - Slack-->
    <target xsi:type="Slack"
         name="SlackTarget"
         layout="${LayoutFatal}"
         webHookUrl="${configsetting:name=SlackWebhook.Fatal}"
         compact="false">
      <field name="Machine Name" layout="${machinename}" />
      <field name="Process Name" layout="${processname}" />
      <field name="Process PID" layout="${processid}" />
      <field name="StackTrace" layout=" ${stacktrace}" />
      <field name="Exception" layout=" ${exception:format=tostring}" />
    </target>
  </targets>

  <!--[設定] 紀錄規則-->
  <rules>
    <logger name="*" levels="Trace,Error,Fatal" writeTo="ElasticSearch" />
    <logger name="*" levels="Trace,Error,Fatal" writeTo="SlackTarget" />
  </rules>
</nlog>